@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* ----------------------------------------- */

:root {
    --black: #000000;
    --white: #ffffff;
    --blue: #14213d;
    --orange: #fca311;
    --gray: #e5e5e5;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-size: 18px;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.header {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    margin-bottom: 130px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: inherit;
    font-weight: 700;
    transition: all ease 0.3s;
}

.nav-button.active {
    border-bottom: 3px solid var(--white);
}

.nav-button:hover {
    margin-bottom: 5px;
}

/* shared properties */

.homepage,
.menu-page,
.contact-page {
    background-color: var(--blue);
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

/* homepage */
.homepage {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homepage-title {
    font-size: 30px;
    font-weight: 500;
}

.homepage-description,
.homepage-pizza-order {
    font-size: 24px;
    font-weight: 400;
}

.homepage-image {
    width: 300px;
    border-radius: 10%;
}

/* Menu Page */
.menu-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 55, 97, 0.3);
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease all;
}

.menu-item:hover {
    background-color: rgba(36, 55, 97, 0.5);
}

.menu-page img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.menu-title {
    font-weight: 700;
    font-size: 25px;
}

.menu-description {
    color: #ffffffd2;
}

/* contact page */
.contact-page {
    display: grid;
    gap: 5px;
    
    font-weight: 500;
    font-size: 22px;
}

.contact-img {
    border-radius: 20px;
}
